Attack <%= $game.defending_player.name %>
<p> <%= $game.defending_player.name %> takes damage of 10! <%= $game.defending_player.hit_points %> </p>
<p><form action="/play"> <input type="submit" id="redirect_play" value="continue"> </form></p>
<br>

<!-- Attack <%= $game.player1.name %>
<p> <%= $game.player1.name %> takes damage of 10! <%= $game.player1.hit_points %> </p>
<p><form action="/play"> <input type="submit" id="redirect_play" value="continue"> </form></p>   -->
