
<h1> Player 1: <%= $game.player1.name %> vs. Player 2: <%= $game.player2.name %> </h1>

<p> <%= $game.player1.name %> Hit Points = <%= $game.player1.hit_points %> </p>
<p> <%= $game.player2.name %> Hit Points = <%= $game.player2.hit_points %> </p>

<p> <%= $game.turn %>'s Turn </p>

<form action="/attack">
  <input type="submit" id="attack" value="Attack <%= $game.turn %>">
</form>
