
<h1> Player 1: <%= $game.player1.name %> vs. Player 2: <%= $game.player2.name %> </h1>

<p> <%= $game.player1.name %> Hit Points = <%= $game.player1.hit_points %> </p>
<p> <%= $game.player2.name %> Hit Points = <%= $game.player2.hit_points %> </p>

<form action="/attack_P2">
  <input type="submit" id="P1_attack_P2" value="Attack <%= $game.player2.name %>">
</form>
<br>
<form action="/attack_P1">
  <input type="submit" id="P2_attack_P1" value="Attack <%= $game.player1.name %>">
</form>
